/* style.css */

body{
    background-color: rgb(67, 63, 105);
}

h1{
    text-align: center;
    color: silver;
}

#game{
    /* display: flex; */

}

#controls{
    background-color: aqua;
    flex-grow: 0;
}

#grid-container{
    background-color: rgb(0, 0, 0);
    flex-grow: 3;
    display: grid;
    width: 500px;
    height: 500px;
    padding: 4px;
}

#grid-container > div{
    background-color: wheat;
    margin: 1px;
    padding: 0px;
}